<div draggable="true">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="col-md-12 text-center">
                Drag &amp; Drop files here Or
                <a href="javascript:void(0)">
                    Click to browse
                </a>
                <div class="file-support-type">
                    Supported File Types: AVI, MPG, WMV, MP4, MOV
                </div>
                <input style="display:none" type="file">
            </div>
        </div>
    </div>
</div>
